
@{
    ViewData["Title"] = "Index";
}
@addTagHelper  *,FirstAspDotNetCore
<h1>Index</h1>

<h3>Use custom tag helper for create achor tag for email addrss</h3>
<h4 class="text-info">Email</h4>
<email domain="ymail.com" >f.montazeri</email>