@inject FirstAspDotNetCore.Services.IPersonService PersonService

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Family</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in PersonService.Get())
    {
        <tr>
            <td>@person.Name</td>
            <td>@person.Family</td>
        </tr>
    }
    </tbody>
</table>