
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>Wellcom to panle</h2>
<p>
    Notice :
    You should define your area at the top of controller
</p>
<p>
    Manage persons :
    <a asp-action="Index" asp-controller="Person" area="Admin">Persons</a>
</p>
<p>
    Home :
    <a asp-action="Index" asp-controller="Home" asp-area=" ">Home</a>
</p>