<div class="row">
    <a asp-action="Get" asp-controller="Session" class="btn btn-info">Session Management</a> &nbsp;
    <a href="/OldCtrl/Get" class="btn btn-primary">Handle old address by new address </a>&nbsp;
    <a asp-action="Get" asp-controller="Cookie" class="btn btn-info">Cookie Management</a>&nbsp;
    <a asp-action="Create" asp-controller="Form" class="btn btn-primary">Create Form</a>&nbsp;
    <a asp-action="ByTagHelper" asp-controller="Form" class="btn btn-info">Create Form by TagHelpers </a>&nbsp;
    <a asp-action="Index" asp-controller="Cache" class="btn btn-primary">Cache Data</a>&nbsp;
    <a asp-action="Index" asp-controller="TagHelper" class="btn btn-info">Tag Helper samples</a>&nbsp;
    <a asp-action="Index" asp-controller="CustomTagHelper" class="btn btn-primary">Custom TagHelper</a>&nbsp;
    <a asp-action="UploadImage" asp-controller="File" class="btn btn-info">Custom Attribute</a>&nbsp;
    <a asp-action="Index" asp-controller="Person" class="btn btn-primary">Use Injection in view</a>&nbsp;
    <a asp-action="Get" asp-controller="Person" class="btn btn-info">Use ViewComponent in view</a>&nbsp;
    <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="btn btn-primary">Go to management panel</a>&nbsp;
    <a asp-action="Index" asp-controller="Person" asp-area="Admin" class="btn btn-info">Manage Persons</a>&nbsp;
</div>
