<ul class="list-group">
    <li class="list-group-item"><a asp-action="Get" asp-controller="Session" class="btn btn-info">Session Management</a></li>
    <li class="list-group-item"><a href="/OldCtrl/Get" class="btn btn-info">Handle old address by new address </a></li>
    <li class="list-group-item"><a asp-action="Get" asp-controller="Cookie" class="btn btn-info">Cookie Management</a></li>
    <li class="list-group-item"><a asp-action="Create" asp-controller="Form" class="btn btn-info">Create Form</a></li>
    <li class="list-group-item"><a asp-action="ByTagHelper" asp-controller="Form" class="btn btn-info">Create Form by TagHelpers </a></li>
    <li class="list-group-item"><a asp-action="Index" asp-controller="Cache" class="btn btn-info">Cache Data</a></li>
    <li class="list-group-item"><a asp-action="Index" asp-controller="TagHelper" class="btn btn-info">Tag Helper samples</a></li>
    <li class="list-group-item"><a asp-action="Index" asp-controller="CustomTagHelper" class="btn btn-info">Custom TagHelper</a></li>
    <li class="list-group-item"><a asp-action="UploadImage" asp-controller="File" class="btn btn-info">Custom Attribute</a></li>
</ul>