@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewBag.Message</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="/Session/Get" class="btn btn-info">Session Management</a> &nbsp;
<a href="/Cookie/Get" class="btn btn-info">Cookie Management</a> &nbsp;
<a href="/Form/Create" class="btn btn-info">Create Form</a> &nbsp;
<a href="/Cache/Index" class="btn btn-info">Cashe Data</a> &nbsp;
