@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewBag.Message</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a  asp-action="Get" asp-controller="Session" class="btn btn-info">Session Management</a> &nbsp;
<a asp-action="Get" asp-controller="Cookie" class="btn btn-info">Cookie Management</a> &nbsp;
<a  asp-action="Create" asp-controller="Form" class="btn btn-info">Create Form</a> &nbsp;
<a asp-action="ByTagHelper" asp-controller="Form"   class="btn btn-info">Create Form by TagHelpers </a> &nbsp;
<a asp-action="Index" asp-controller="Cache" class="btn btn-info">Cache Data</a> &nbsp;
<a asp-action="Index" asp-controller="TagHelper"  class="btn btn-info">Tag Helper samples</a> &nbsp;
<a asp-action="Index" asp-controller="CustomTagHelper"  class="btn btn-info">Custom TagHelper</a> &nbsp;
